@model KBC.Models.Serie
@using KBC.Models;
<body>
    <section class="section-serie-profile">
        <div class="jumbotron" id="serie-profile-jumbotron">
            <br />
            <br />
            <h1 style="color: white;">@Model.Name</h1>
            <a class="btn btn-danger btn-lg" href="~/Library/Index">Back to Library</a>
        </div>       
        
        <section class="section-facts">
            <div class="col-lg-12">
                <h1 id="facts-header">About - @Model.Name</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" id="facts-block">
                <center><img class="img-responsive" id="about-serie-picture" src="@SerieImgURL.GetTheFirstImgOfOneType(Model.SerieImgsURL,0)" /></center>
                @*<video>Sätta in en trailer?</video>*@
                @if ((string)Session["CurrentUser"] == "Admin")
                {
                @Html.ActionLink("AddImg", "AddImg", new { id = Model.SerieId })
                }
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" id="facts-block">               
                <h2>Information</h2>
                <p style="color: white; font-size: 23px; text-align: center;">@Model.Description</p>
                <br />
                <br />
                <table class="table">
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Genre
                        </th>
                        <th>
                            Creator
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Grade
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Model.Name
                        </td>
                        <td>
                            @foreach (var genre in Model.Genres.ToList())
                            {
                                @genre.Genre<br />
                            }
                            @if ((string)Session["CurrentUser"] == "Admin")
                            {
                                @Html.ActionLink("AddGenre", "AddGenre", new { id = Model.SerieId })
                            }
                        </td>
                        <td>
                            @Model.Creator
                        </td>
                        <td>
                            @Model.ReleaseDatum
                        </td>
                        <td>
                            @Model.AverageGrade
                        </td>
                    </tr>
                    </table>
            </div>
            
        </section>
        <section>
            <div class="col-lg-12">
                <center><a href="~/Home/Index" class="page-scroll btn btn-primary btn-lg">Back to firstpage</a></center>
            </div>
        </section>

                @* -------Hur en foreach skulle kunna se ut till tabellen------- *@
                @*@foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td id="table-small-image">
                                <img class="thumbnail img-responsive" id="shoppingcart-img" src="@item.imgUrl" />
                            </td>
                            <td>
                                <a href="@Url.Action("AddToCartInsideCart", "ShoppingCart", new { item.ProductID })"><span class="glyphicon glyphicon-plus"></span></a>
                                @Html.DisplayFor(modelItem => item.TotalAmountPerID)
                                <a href="@Url.Action("DeleteInsideCart", "ShoppingCart", new { item.ProductID })"><span class="glyphicon glyphicon-minus"></span></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price) &dollar;
                            </td>
                            <td>
                                @{
                                    int price = item.Price * item.TotalAmountPerID;
                                    string total = price.ToString() + " " + "$";
                                }
                                @total
                            </td>
                        </tr>
                                    }*@

            @*</table>*@
    </section>
        @*<section class="review-series-box">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>Infoga razorsyntax som skickar in informationen/post som gjorts i databasen. Läs ut det här.</p>
            </div>
        </section>*@   
</body>


